@import "../../styles/constants.scss";

.double-switch {
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);

    &:hover {
        cursor: pointer;
    }

    .element {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;

        &.left {
            border-radius: 50px 0 0 50px;
        }

        &.right {
            border-radius: 0 50px 50px 0;
        }

        &.pivot {
            position: absolute;
            background-color: $primary;
            border-radius: 50px;
            opacity: 0.3;
            z-index: 98;
            border: transparent;

            &.to-right {
                animation: 0.5s to-right;
                animation-fill-mode: forwards;
            }

            &.to-left {
                animation: 0.5s to-left;
                animation-fill-mode: forwards;
            }
        }
    }

    &.dark {
        border-color: $primary;
        
        .element {
            color: #FFF;
        }   
    }
}

@keyframes to-right {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes to-left {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
