.home {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    .topbar {
        width: 100%;
        height: 75px;
        padding: 0 30px 0 30px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .icon:hover {
            cursor: pointer;
        }
    }

    .mainarea {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.hash {
            justify-content: flex-start;
            margin-top: 30px;
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 10px;
            width: 90%;
            height: 60px;
            border-radius: 7px;
            padding: 0 10px 0 10px;

            &.hashText {
                width: unset;
            }
        }

        .textarea {
            width: 80%;
            height: 60%;
            max-width: 980px;
        }

        .importLabel {
            cursor: pointer;
        }

        .textHashButton {
            margin-top: 30px;
        }

        @media only screen and (max-height: 700px) {
            height: 65%;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: "red";

        display: flex;
        align-items: center;
        justify-content: center;

        .in {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 30px 0 30px;

            @media only screen and (max-width: 512px) {
                justify-content: space-between;
            }
        }
    }
}
