@tailwind components;

@layer components {
    .home {
        @apply flex flex-col items-center w-screen h-screen;

        .topbar {
            @apply w-full h-topBarHeight mb-16 flex items-center justify-between px-[30px];

            .title {
                @apply text-2xl;
            }

            .icon:hover {
                @apply cursor-pointer;
            }
        }

        .mainarea {
            @apply flex flex-col items-center justify-around w-full mx-3;

            &.hash {
                @apply flex flex-col justify-start mt-16;
            }

            .text {
                @apply flex flex-col items-center w-5/6 justify-center h-16 px-3  m-3 rounded-[10px];

                &.hashText {
                    @apply h-auto py-3;
                }
            }

            .textarea {
                @apply max-w-[980px] h-2/3 mx-2 w-5/6;
            }

            .importLabel {
                @apply text-white cursor-pointer;
            }

            .textHashButton {
                @apply mt-[30px];
            }

            .generatedHash {
                @apply w-full max-w-[980px] text-center;
                font-family: "Roboto mono", monospace;
            }

            /* @media only screen and (max-height: 700px) {
                height: 65%;
            } */
        }

        .footer {
            @apply absolute bottom-0 flex items-center justify-center w-full text-white;

            .in {
                @apply flex flex-col items-center h-full px-8;

                /* @media only screen and (max-width: 512px) {
                    justify-content: space-between;
                } */
            }
        }
    }
}
